* {
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: #042326;
}

#ClassName{
    color: #1D7373;
}

h2{
    color: #107361;
}

p, a, li{
    color: #0F5959;
    text-decoration: none;
}

a:hover{
    color: #1D7373;
    
}
