.about{
    text-align: center;
    font-family: cursive, Verdana, sans-serif;
    font-size: 24px;
    background-color: lightgray;
    padding: 2px;
    margin: 5px;
}

.skills{
    text-align: center;
    font-family: cursive, Verdana, sans-serif;
    font-size: 24px;
    background-color: lightgray;
    padding: 2px;
    margin: 5px;
}

.projects{
    text-align: center;
    font-family: cursive, Verdana, sans-serif;
    font-size: 24px;
    background-color: lightgray;
    padding: 2px;
    margin: 5px;
}

.contact{
    text-align: center;
    font-family: cursive, Verdana, sans-serif;
    font-size: 24px;
    background-color: lightgray;
    padding: 2px;
    margin: 5px;
}