* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 900px) {
  #nav {
    display: flex;
    justify-content: space-evenly;
  }
  #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #navbar li {
    padding: 10px;
    background-color: gray;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar a {
    color: black;
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
  }

  #content-section {
    height: 94vh;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    border: #bbbbbb 1px solid;
  }

  #content-section {
    display: flex;
    flex-direction: column;
    height: 94vh;
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: white;
    border: #bbbbbb 1px solid;
    align-items: center;
  }

  #content-section h1 {
    margin-bottom: 30px;
  }

  #accountItem {
    display: flex;
    margin: 30px;
  }

  #accountItem h3,
  #accountItem button {
    margin-right: 10px;
  }

  #footer-div {
    background-color: black;
    padding: 10px;
    margin-top: 2%;
  }
}

@media (max-width: 900px) {
  #nav {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #navbar li {
    padding: 10px;
    background-color: gray;
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar a {
    color: black;
    text-decoration: none;
  }

  body {
    background-color: #efefef;
  }
}
