:root {
  --main-section-color: #bbbbbb;
  --background-color: #12a6a6;
  --outside-color: #045959;
  --font-color: #12a6a6;
  --border-color: #2c5558;
  --navbar-color: #144245;
  --edit-btn-color: green;
  --delete-btn-color: red;
  --critical-color: red;
  --urgent: yellow;
  --non-urgent: green;
  --card-body-color: #a7d4d9;
  --card-head-color: #109595;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  margin-bottom: 50px;
}

button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

#card-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.options {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#editbtn {
  width: 50%;
  background-color: var(--edit-btn-color);
}

#deletebtn {
  width: 50%;
  background-color: var(--delete-btn-color);
}

.column a {
  width: inherit;
  text-decoration: none;
  color: var(--font-color);
}

.column a h3 {
  width: inherit;
  text-decoration: none;
  color: black;
}

.column .title {
  width: inherit;
  text-decoration: none;
  color: var(--font-color);
}

.column div:hover {
  width: initial + 2px;
  cursor: pointer;
}

.plus {
  font-size: 100px;
  display: flex;
  justify-content: center;
}

footer h1 {
  color: var(--font-color);
}

@media (min-width: 900px) {
  #nav {
    display: flex;
    justify-content: space-evenly;
  }

  #navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  #navbar li {
    padding: 10px;
    background-color: var(--navbar-color);
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar a {
    color: var(--font-color);
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--outside-color);
  }

  #content-section {
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
  }

  #content-columns {
    border: none;
    background-color: var(--outside-color);
    display: flex;
    flex-direction: row;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .switch {
    display: flex;
    flex-direction: row;
  }

  .card {
    border: var(--border-color) 1px solid;
    width: 50%;
    margin-bottom: 30px;
  }

  .card img {
    width: 100%;
  }

  .empty-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-color) 1px solid;
    width: 241px;
    height: 218px;
    margin-bottom: 30px;
    background-color: var(--background-color);
  }

  .title {
    margin-top: -62px;
    margin-bottom: 62px;
    padding: 5px;
  }

  .title-empty {
    margin-top: -62px;
    margin-bottom: 62px;
  }

  .column {
    margin: 10px;
    background-color: var(--background-color);
    border: var(--border-color) 1px solid;
    flex: 1;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-head-color);
    padding: 10px;
  }

  .card-body {
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card-body * {
    margin: 3px;
  }

  .critical {
    display: flex;
    justify-content: center;
    background-color: var(--critical-color);
    width: 75%;
    border-radius: 10px;
  }

  .urgent {
    display: flex;
    justify-content: center;
    background-color: var(--urgent);
    width: 75%;
    border-radius: 10px;
  }

  .non-urgent {
    display: flex;
    justify-content: center;
    background-color: var(--non-urgent);
    width: 75%;
    border-radius: 10px;
  }

  #footer-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--outside-color);
    padding: 10px;
    margin-top: 2%;
  }
}

@media (max-width: 900px) {
  * {
    justify-content: center;
    align-items: center;
  }

  header {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }

  .up {
    transform: rotate(-135deg);
  }

  .down {
    transform: rotate(45deg);
  }
  .arrow.up {
    transform: rotate(-135deg);
    margin-bottom: 2px;
  }

  .arrow.down {
    transform: rotate(45deg);
  }
  #nav {
    display: flex;
    justify-content: space-evenly;
  }

  header {
    width: 100%;
  }

  #navbar {
    display: none;
  }

  #navbar ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  #navbar li {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--navbar-color);
    list-style: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #navbar a {
    color: var(--font-color);
    text-decoration: none;
  }

  body {
    display: flex;
    flex-direction: column;
    background-color: var(--outside-color);
  }

  #content-section {
    margin-top: 2%;
    margin-left: 0.5%;
    margin-right: 0.5%;
    background-color: var(--background-color);
    border: var(--border-color) 1px solid;
    width: 90%;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  #content-columns {
    display: flex;
    flex-direction: column;
  }

  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 90%;
  }

  .switch {
    display: flex;
    flex-direction: row;
  }

  .card {
    border: var(--border-color) 1px solid;
    width: 90%;
    margin-bottom: 30px;
  }

  .empty-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--border-color) 1px solid;
    width: 241px;
    height: 218px;
    margin-bottom: 30px;
    background-color: var(--background-color);
  }

  .title {
    display: flex;
    padding: 5px;
    justify-content: center;
  }

  .title h1 {
    color: black;
  }

  .column {
    margin: 10px;
    background-color: var(--background-color);
    border: var(--border-color) 1px solid;
    flex: 1;
  }

  .card-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--card-head-color);
    padding: 10px;
  }

  .card-body {
    background-color: var(--card-body-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
  }

  .card-body * {
    margin: 3px;
  }

  .critical {
    display: flex;
    justify-content: center;
    background-color: var(--critical-color);
    width: 75%;
    border-radius: 10px;
  }

  .urgent {
    display: flex;
    justify-content: center;
    background-color: var(--urgent);
    width: 75%;
    border-radius: 10px;
  }

  .non-urgent {
    display: flex;
    justify-content: center;
    background-color: var(--non-urgent);
    width: 75%;
    border-radius: 10px;
  }

  #footer-div {
    background-color: var(--outside-color);
    padding: 10px;
    margin-top: 2%;
  }
}
